.model-icon { min-width: 20px !important; display: inline-block !important; margin-left: 2px; }

/*------------------ Admin ------------------*/



/*------------------ CRUD ------------------*/

.controller-crud .associations { margin: 1.25rem 0; }

/*------------------ ACL ------------------*/

.controller-acl .table { width: auto; }
.controller-acl .table td { padding: 0; }
.controller-acl .table a { display: block; padding: 8px; color: #000; }
.controller-acl .table a span { opacity: .2; }
.controller-acl .table a:hover { text-decoration: none; }
.controller-acl .table a:hover span { opacity: 1; }
.controller-acl .table .permission a { text-align: center; }
.controller-acl .table .permission .action.allow { background-color: #dff0d8; }
.controller-acl .table .permission .action.inherit { background-color: #d9edf7; }
.controller-acl .table .permission .action.deny { background-color: #f2dede; }
.controller-acl .table .permission .action.missing { background-color: #fcf8e3; }

.controller-acl .matrix-head { background: #2E2F2F !important; border-color: #3A3C3C !important; color: #fff; }
.controller-acl .matrix-head a { color: #999999; }
.controller-acl .matrix-head a:hover { color: #fff; }
.controller-acl .matrix-head.matrix-y { min-width: 150px; }

/*------------------ Logs ------------------*/

.controller-logs table a { display: inline-block; }

/*------------------ Reports ------------------*/

.controller-reports .reported-item { margin: 2rem 0 1rem 0; }
.controller-reports .reported-item h3 { margin-bottom: 1rem; }

/*------------------ Upload ------------------*/

.controller-upload .field .col-2 { margin-right: 1rem; }
.controller-upload .field .field-col .checkbox label { margin-left: 5px; }

/*----------------- Form -----------------*/

.field-null { display: inline-block; margin-left: 10px; }
.field-null label { margin-left: 5px; font-weight: normal; }
.field-null input { top: 1px; position: relative; }

/*----------------- Table -----------------*/

.type-integer,
.type-boolean,
.type-enum { text-align: center !important; }
.type-datetime { text-align: right !important; }

.col-checkbox { width: 15px; }
.col-actions { width: 15px; padding: .8rem !important; }
.col-actions .button { display: inline-block; padding: 3px 4px; float: none; font-size: .8rem; }