.model-icon { min-width: 20px !important; display: inline-block !important; margin-left: 2px; }
.table a { display: block; }

/*------------------ Admin ------------------*/

.controller-admin .plugin-list { list-style: none; margin: 0; padding: 0; }
.controller-admin .plugin-list a { display: block; padding: 5px 15px; }
.controller-admin .plugin-list a.float-right { display: none; }
.controller-admin .plugin-list li:hover a.float-right { display: block; color: #fff; }
.controller-admin .plugin-list a:hover { background: #45c5eb; color: #fff; border-radius: .3rem; }
.controller-admin .plugin-list a:hover .model-icon { color: #fff; }
.controller-admin .plugin-list a:hover .text-muted { color: #dbf1fa; }

/*------------------ CRUD ------------------*/

.controller-crud .associations { margin: 2rem 0; }
.controller-crud .associations h3 { margin-bottom: 1rem; }

/*------------------ ACL ------------------*/

.controller-acl .table { width: auto; }
.controller-acl .table td { padding: 0; }
.controller-acl .table a { display: block; padding: 1rem; color: #000; }
.controller-acl .table a span { opacity: .2; }
.controller-acl .table a:hover { text-decoration: none; }
.controller-acl .table a:hover span { opacity: 1; }
.controller-acl .table .permission a { text-align: center; }
.controller-acl .table .permission .action.allow { background-color: #e7f2dd; }
.controller-acl .table .permission .action.inherit { background-color: #dbf1fa; }
.controller-acl .table .permission .action.deny { background-color: #fdc5c1; }

.controller-acl .matrix-head { background: #1d1f21 !important; border-color: #52555a !important; color: #fff; }
.controller-acl .matrix-head a { color: #E5E5E5; }
.controller-acl .matrix-head a:hover { color: #fff; }
.controller-acl .matrix-head.matrix-y { min-width: 150px; }

/*------------------ Logs ------------------*/

.controller-logs table tbody a { display: inline-block; }

/*------------------ Reports ------------------*/

.controller-reports .reported-item { margin: 2rem 0 1rem 0; }
.controller-reports .reported-item h3 { margin-bottom: 1rem; }

/*------------------ Upload ------------------*/

.controller-upload .field .col.span-2 { margin-right: 1.5rem; }
.controller-upload .field .field-col .checkbox label { margin-left: 5px; }
.controller-upload .field .field-help { vertical-align: middle; margin: 8px 0 0 10px; display: inline-block; }
.controller-upload .field textarea { min-height: 100px; }

.controller-upload .splash { padding: 100px; text-align: center; border: 1px solid #e5e5e5; background: #fbfbfb; border-radius: .3em; }
.controller-upload .splash h2 { margin-bottom: 25px; }

/*----------------- Form -----------------*/

.field-null { display: inline-block; margin-left: 10px; }
.field-null label { margin-left: 5px; font-weight: normal; }
.field-null input { top: 1px; position: relative; }

/*----------------- Table -----------------*/

.type-integer,
.type-boolean,
.type-enum,
.type-float { text-align: center !important; }
.type-datetime { text-align: right !important; }

.col-checkbox { width: 15px; }
.col-actions { width: 15px; padding: .5rem !important; }
.col-actions .button { display: inline-block; padding: 3px 4px; float: none; font-size: .8rem; }