.model-icon { min-width: 20px !important; display: inline-block !important; margin-left: 2px; }

/*------------------ Admin ------------------*/

.controller-admin .nav .model-icon { color: #000; }
.controller-admin .nav .label { margin-left: 2px; top: -2px; position: relative; font-weight: bold; }
.controller-admin .nav .pull-right { margin: 0; display: none; color: #000; z-index: 1; position: relative; }
.controller-admin .nav li:hover .pull-right { display: block; }

/*------------------ CRUD ------------------*/

/*------------------ ACL ------------------*/

.controller-acl .table { width: auto; }
.controller-acl .table td { padding: 0; }
.controller-acl .table a { display: block; padding: 8px; color: #000; }
.controller-acl .table a span { opacity: .2; }
.controller-acl .table a:hover { text-decoration: none; }
.controller-acl .table a:hover span { opacity: 1; }
.controller-acl .table .permission a { text-align: center; }
.controller-acl .table .permission .action.allow { background-color: #dff0d8; }
.controller-acl .table .permission .action.inherit { background-color: #d9edf7; }
.controller-acl .table .permission .action.deny { background-color: #f2dede; }
.controller-acl .table .permission .action.missing { background-color: #fcf8e3; }

.controller-acl .matrix-head { background: #2E2F2F !important; border-color: #3A3C3C !important; color: #fff; }
.controller-acl .matrix-head a { color: #999999; }
.controller-acl .matrix-head a:hover { color: #fff; }
.controller-acl .matrix-head.matrix-y { min-width: 150px; }

/*------------------ Logs ------------------*/

.controller-logs table a { display: inline-block; }

/*------------------ Reports ------------------*/

.controller-reports .reported-item { margin: 20px 0; }

/*------------------ Upload ------------------*/

/*----------------- Grid -----------------*/

.gridalicious .panel { margin: 0 20px 20px 0 !important; }
.gridalicious .galcolumn:last-child .panel { margin-right: 0 !important; }

/*----------------- Form -----------------*/

.form-control { width: auto; display: inline-block; }

.form-group.text .form-control { width: 75%; }
.form-group.is-editor .form-control { min-height: 350px; }
.form-group.relation .form-control { min-width: 20%; }
.form-group.string .form-control,
.form-group.relation .type-ahead { width: 35%; }
.form-group.relation .type-ahead .form-control { width: 100%; }
.form-group.integer .form-control { width: 75px; text-align: center; }
.form-group.boolean .form-control { margin: 0; }

.form-null { display: inline-block; margin-left: 10px; }
.form-null label { margin-left: 5px; font-weight: normal; }
.form-null input { top: 1px; position: relative; }

.error-message { color: #b94a48; margin-top: 5px; }
.type-ahead { display: inline-block; }

/*----------------- Table -----------------*/

.type-integer,
.type-boolean,
.type-enum { text-align: center !important; }
.type-datetime { text-align: right !important; }

.type-datetime,
.col-name,
.col-title,
.type.belongs-to { white-space: nowrap; }

.col-checkbox input { margin: 0; }
.col-actions { width: 15px; }
.col-actions .btn { display: inline-block; padding: 2px 4px; float: none; font-size: 10px; }