
body {
	padding-top: 40px;
	background-color: #F5F5F5; }

h2 { margin-bottom: 20px; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.body {
	padding: 20px;
	background: #fff; }

.foot {
	border-top: 1px solid #E5E5E5;
	padding: 30px;
	text-align: center; }

.model-icon {
	min-width: 20px !important;
	display: inline-block !important;
	margin-left: 2px; }

/*----------------- Forms -----------------*/

select { width: auto; margin-right: 2px; }
.relation select[multiple] { height: 200px; }

.form-horizontal { margin: 20px 0; }
.form-horizontal .control-label { width: 20%; font-weight: bold; }
.form-horizontal .control-group .controls { margin-left: 21.5%; }
.form-horizontal .control-group.is-editor textarea { min-height: 500px; }
.form-horizontal .actions { text-align: center; }
.form-horizontal .actions .btn { margin-left: 12px; }
.form-horizontal .actions div { margin-bottom: 15px; }
.form-horizontal .actions label { display: inline-block; margin-right: 10px; font-weight: bold; }
.form-horizontal .type-ahead { display: inline; position: relative; padding-right: 25px; }

.form-inline .control-group,
.form-inline .control-group .controls { display: inline-block; width: auto; }
.form-inline .control-group { margin: 8px; }
.form-inline .control-group.integer input { width: 33px; text-align: center; }
.form-inline .control-group.integer input.belongs-to { width: 150px; text-align: left; }
.form-inline .control-group.boolean input { margin-top: -1px; }
.form-inline .control-group.relation input,
.form-inline .control-group.string input { width: 150px; }
.form-inline .control-group.datetime input { width: 100px; }
.form-inline .control-label { margin-right: 2px; font-weight: bold; }

.filters { padding-right: 0; }
.filters form { margin: 0; }

.input-after,
.error-message,
.controls-null,
.controls-null label{ display: inline-block; margin-left: 10px; }
.controls-null label { margin-left: 5px; }
.controls-null input { margin-top: -1px; }

.input-after { color: #999999; }

/*----------------- Tables -----------------*/

.sortable { margin-bottom: 15px; background: #fff; }
.clickable tbody tr { cursor: pointer; }

.table tr a { display: block; }
.table tr th,
.table tr td { vertical-align: middle; }

.table tr th {
	background: #1B1B1B;
	border-left-color: #4b4b4b;
	padding: 0; }

.table tr th a,
.table tr th span {
	padding: 8px 10px;
	color: #c4c4c4;
	text-align: left;
	white-space: nowrap;
	display: block; }

.table tr th a:hover {
	color: #fff;
	text-decoration: none; }

td.no-results {
	padding: 50px;
	text-align: center; }

.action-index .table .image { max-width: 200px; }

/*----------------- Table Cells -----------------*/

.type-integer,
.type-boolean,
.type-enum { text-align: center !important; }
.type-datetime { text-align: right !important; }

.type-datetime,
.col-name,
.col-title,
.belongs-to { white-space: nowrap; }
.belongs-to { display: block; text-align: left; }

td.col-id,
.col-batch-delete { width: 15px; font-weight: bold; text-align: center !important; padding: 8px !important; }
.col-batch-delete input { margin: 0; }

td.col-actions { width: 15px; }
td.col-actions a.btn { display: inline-block; padding: 0 4px; }

/*----------------- UI -----------------*/

.action-buttons { float: right; position: relative; top: -2px; }
.action-buttons .btn,
.action-buttons .btn-group { margin-left: 15px; }

.btn-large span[class*="icon-"] { margin-right: 3px; }

.nav a span[class*="icon-"] { color: #000; }
.nav li { position: relative; }
.nav li > .badge { position: absolute; bottom: -5px; right: -5px; font-size: 10.5px; padding: 2px 6px; }
.nav li > a.user { padding: 0 15px; }
.nav li > a.user .avatar { width: auto; height: 40px; display: block; float: right; }
.nav li > a.user .name { display: inline-block; padding: 10px; padding-left: 0; }

.breadcrumbs ul { margin: 0; padding: 5px 8px; }
.breadcrumbs ul > li > .divider { font-size: 10px; }
.breadcrumbs ul > li:last-child > .divider { display: none; }

.pagination { height: 32px; overflow: hidden; margin: 15px 0; }
.pagination .results { padding-top: 8px; float: left; }
.pagination .results span { font-weight: bold; }

.dropdown-menu > li > a { padding-left: 10px; }

/*----------------- Admin -----------------*/

.controller-admin .well > h3 { line-height: 100%; margin: 0 0 15px 0; }

.controller-admin .nav { margin: 0; }
.controller-admin .nav .pull-right { margin: 0; padding: 7px 10px; display: none; }
.controller-admin .nav .label { margin-left: 2px; }
.controller-admin .nav li:hover .pull-right { display: block; }

.controller-logs .table tbody a { display: inline; }

/*----------------- ACL -----------------*/

.controller-acl .table { width: auto; }
.controller-acl .table td { padding: 0; }
.controller-acl .table a { display: block; padding: 8px; color: #000; }
.controller-acl .table a:hover { text-decoration: none; }
.controller-acl .table a span { opacity: .2; }
.controller-acl .table a:hover span { opacity: 1; }
.controller-acl .table .permission a { text-align: center; }
.controller-acl .table .permission .action.allow { background-color: #DFF0D8; }
.controller-acl .table .permission .action.inherit { background-color: #D9EDF7; }
.controller-acl .table .permission .action.deny { background-color: #F2DEDE; }
.controller-acl .table .permission .action.missing { background-color: #FCF8E3; }

.controller-acl .matrix-head { background: #1B1B1B !important; border-color: #4b4b4b !important; }
.controller-acl .matrix-head.matrix-y { min-width: 150px; }
.controller-acl .matrix-head a { color: #c4c4c4; }
.controller-acl .matrix-head a:hover { color: #fff; }

/*----------------- Grid -----------------*/

.gridalicious .well { margin: 0 20px 20px 0 !important; }
.gridalicious .galcolumn:last-child .well { margin-right: 0 !important; }

.gridalicious.config-grid .well { padding: 0; }
.gridalicious.config-grid .well > h3 { margin: 19px; }
.gridalicious.config-grid .well .table { margin: -1px; width: 100.5%; max-width: 100.5%; }

/*----------------- Upload -----------------*/

.controller-upload fieldset { padding-bottom: 30px; }
.controller-upload .input { margin-bottom: 20px; }
.controller-upload .input.select label,
.controller-upload .input.text label,
.controller-upload .input.number label,
.controller-upload .input.file label,
.controller-upload .input.textarea label { width: 20%; font-weight: bold; display: inline-block; margin-right: 2%; text-align: right; }
.controller-upload .input.textarea label { vertical-align: top; }
.controller-upload .input.textarea textarea { width: 75%; }
.controller-upload .input.checkbox { margin-left: 22%; font-weight: bold; }
.controller-upload .error-message { color: red; }