
body { padding-top: 50px; background: #F5F5F5; }
table { width: 100%; }

.align-right { text-align: right; }
.align-center { text-align: center; }

/*------------------ Layout ------------------*/

.body { padding: 20px; background: #fff; }
.foot { border-top: 1px solid #DDDDDD; text-align: center; padding: 25px; }

.container { max-width: 100%; }

.title { margin: 0 0 20px 0; }
.title h2 { margin: 0; }

.action-buttons { float: right; }
.action-buttons .btn { margin-left: 10px; }
.action-buttons .btn span[class*="icon-"] { margin-right: 3px; }
.action-buttons .btn-group { margin-left: 10px; margin-right: -3px; }

/*------------------ UI ------------------*/

.btn-group { white-space: nowrap; }

.table { margin: 0; background: #fff; border-radius: 3px; }
.table a { display: block; }
.table thead th { background-color: #e5e5e5; padding: 0 !important; }
.table thead th a,
.table thead th span { color: #3A3C3C; white-space: nowrap; display: block; padding: 8px; text-align: left; }
.table thead th a:hover { color: #000; }
.table thead th a.asc,
.table thead th a.desc { background: #DDDDDD; }
.table tbody td { vertical-align: middle; }
.table .no-results { text-align: center; padding: 25px; }
.table.clickable tbody tr { cursor: pointer; }

.paging.top { margin-bottom: 20px; }
.paging.bottom { margin-top: 20px; }
.paging .counter { height: 30px; vertical-align: middle; line-height: 30px; }
.paging .counter span { font-weight: bold; }
.paging .pagination { float: right; margin: 0; }

.breadcrumbs { background: #F5F5F5; border: 1px solid #DDDDDD; margin-bottom: 20px; padding: 10px; border-radius: 3px; }
.breadcrumbs .breadcrumb { margin: 0; padding: 0; }

.navbar { padding: 0 20px; }
.navbar .nav-buttons .btn { margin-left: 2px; }

.modal .modal-header,
.panel .panel-heading { background-color: #e5e5e5; }

.modal .modal-header { border-top-left-radius: 6px; border-top-right-radius: 6px; }