
body { padding-top: 60px; background: #f5f5f5; }
table { width: 100%; }

.align-right { text-align: right; }
.align-center { text-align: center; }

.model-icon { color: #000; }

/*------------------ Layout ------------------*/

.body { padding: 1.5rem; background: #fff; }
.foot { border-top: 1px solid #e5e5e5; text-align: center; padding: 25px; }

.action-buttons { text-align: right; margin: 1.5rem 0; }
.action-buttons .button { margin-left: 10px; }
.action-buttons .button span[class*="icon-"] { margin-right: 3px; }
.action-buttons .button-group { margin-left: 10px; margin-right: -3px; }
.action-buttons:last-child { margin-bottom: 0; }

.title { margin: 2rem 0 1.5rem 0; }
.title h2 { margin: 0; }
.title:after { content: ""; clear: both; display: block; }
.title .action-buttons { float: right; margin: 0; }

/*------------------ UI ------------------*/

.nav { position: fixed; width: 100%; top: 0; left: 0; z-index: 600; background: #1d1f21; border-bottom: 1px solid #121213; padding: 0 1.5rem; }
.nav-buttons { float: right; padding-top: 8px; }
.nav-buttons .button { margin-left: 7px; }
.nav-buttons .button-group { margin-right: -4px; }
.nav-brand { vertical-align: top; display: inline-block; margin-right: 1.5rem; height: 60px; line-height: 60px; font-size: 1.2rem; color: #fff; }
.nav-brand:hover { color: #fff; }
.nav-menu { vertical-align: top; display: inline-block; list-style: none; margin: 0; padding: 0; }
.nav-menu > li { float: left; position: relative; margin-right: 1px; }
.nav-menu > li > a { display: block; color: #E5E5E5; padding: 0 1rem; height: 60px; line-height: 60px; outline: none; }
.nav-menu > li > a:hover { background-color: #52555a; }
.nav-menu > li > a .caret-down { border-top-color: #fff; top: 2px; margin-left: 3px; }
.nav-menu > li > a .badge { top: -1px; }
.nav-menu > li.is-active > a { font-weight: bold; }
.nav-menu > li.is-active > a,
.nav-menu > li > a.is-active { background-color: #67696d; color: #fff; }

.alert,
.button,
.panel,
.modal-outer { border-radius: .3rem; }

.button .caret-down { border-top-color: #fff; margin-left: 3px; bottom: -1px; }

.table thead th { white-space: nowrap; }
.table .no-results { text-align: center; padding: 25px; }
.table.is-clickable tbody tr { cursor: pointer; }
.table.is-sortable thead a { color: #000; }
.table.is-sortable thead a.desc,
.table.is-sortable thead a.asc { background: #d9d9d9; }

.breadcrumb { margin-top: 0; }

.dropdown li a:hover .model-icon { color: #fff; }

.modal { max-width: 800px; }
.modal-body { max-height: 500px; overflow-y: auto; }

.pagination ul { float: right; margin: 0; }
.pagination .counter { height: 45px; line-height: 45px; vertical-align: middle; }
.pagination .counter span { font-weight: bold; }
.pagination.bottom { margin-bottom: 0 }

.panel { border: 1px solid #e5e5e5; background: #fbfbfb; margin-bottom: 1.5rem; overflow: hidden }
.panel:nth-child(4n) { margin-right: 0; }
.panel-head { background: #f5f5f5; padding: 1rem; border-top-left-radius: .3rem; border-top-right-radius: .3rem; }
.panel-head .action-buttons { float: right; margin: 0; }
.panel-body { padding: 1rem; border-top: 1px solid #e5e5e5; }

.panels .panel { display: inline-block; margin-right: 1.5rem; vertical-align: top; width: 23%; }

.matrix.no-columns .panel { display: block; width: 100%; margin-right: 0; margin-bottom: 1.5rem; }

/*------------------ Forms ------------------*/

.form--horizontal .field .col.span-7 { margin-left: 1.5rem; }

.form-filters,
.form-actions { margin-top: 1.5rem; padding: 1rem; background: #f8f8f8; border: 1px solid #e5e5e5; border-radius: .3rem; }
.form-actions label { display: inline-block; padding-right: 1rem; font-weight: bold; position: relative; top: 2px; }
.form-actions .redirect-to,
.form-actions .log-comment { margin-bottom: 1rem; }

.form-filters { padding: .5rem; }
.form-filters .field,
.form-filters .form-actions { margin: .5rem; }
.form-filters .form-actions { background: none; border: 0; padding: 0; }
.form-filters .field.integer .input { width: 100px; }
.form-filters .field-type-ahead { width: 225px; }

.field.boolean .checkbox { padding-top: 7px; }
.field-type-ahead { display: inline-block; vertical-align: middle; height: 45px; } /* need height for it to align properly */

.error-message { color: #b94a48; margin-top: 5px; }
textarea.input { min-height: 300px; }

/*------------------ Responsive ------------------*/

@media only screen and (max-width: 480px) {
    html { font-size: 13px; }
    body { padding-top: 0; }
    .nav { position: relative; }
}